html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
/* HTML5 display-role reset */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
/* every element is a border-box */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    width: 100%vw;
    height: 100%vh;
}

nav {
    margin: auto;
    text-align: center;
    padding-top: 1rem;
}
.plan {
    background: #FF764E; 
    }

.learn{
    background: #5ED3EB;
}

.volunteer {
    background: #FFCD69;
}
header {
    width: 100%vw;
}
#top-pic {
    width: 15rem;
    display: inline-block;
    margin: 1rem;
    border: 1rem solid white;
    border-radius: 50%;
}
.head-text {
    display: inline-block;
    width: 30rem;
    padding-bottom:3rem;
    font-size: 1.5rem;

}
h1 {
    font-size: 3rem;
    text-align: center;

}
.head-text p{
    line-height: 1rem;
    padding: 1rem;
    text-align: center;
}
.content2 img{
    width:7rem;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.content2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    padding:2rem;
}
.content1 {
    padding: 2rem;
    background:#DDB9A3;
    font-size: 1.2rem;

}
.content1 p{
    padding:1rem;
}
.content2 p{
    padding:1rem;
}
footer img {
    width: 100%;
}