
*{
    box-sizing:border-box;
        font:Chelsea Market;
        max-width:100%;
    }
       
  nav{
        display: inline-block;
        max-width: 100%;
         }


 
 .header-content{
    display:inline-block;
     }
 .header-left{
     width:25%;
          }
     .header-left img{
         border-color:white;
         border-width:10px;
         border-radius: 50%;
         border-style:solid;
     }
     .header-right{
         width:50%;
         text-align:center;
         text-justify: right;}
     h1{
         font-size: 45px;
     }

     .content{
         background:
         margin:20px 40px; 
         text-align:center;
     }

       
  .content-one{
    background-color:#DDB9A3;
    color:white;
    margin:25px;
    padding:10px;
    text-align:center;
  }
  .content-one p{
      margin-bottom:30px;
  }
  .content-two{
      width:100px
        }
  .content-img{
      width:100px;
     margin:auto;
      }
