
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    font:Chelsea Market;
    }
  head{
      max-width: 100%; max-height: 50%;
  }
  nav{
        display: inline-block;
        max-width: 1300px;
        max-height: 100px;
 }


 
 .header-content{
display:inline-block;
 }
 .header-left{
     width:10%;
     border-color: orange;
     border-width:10px;
     border-radius:50%;
     border-style:solid;
     }
     .header-right{
         offset: 0;
         width:50%;
         text-align:center;
         margin:auto;
     }
     h1{
         font-size: 45px;
     }

     .content{
         background:
         margin:20px 40px; 
         text-align:center;
     }

       
  .content-one{
    background-color:#DDB9A3;
    color:white;
    margin:25px;
    padding:10px;
    text-align:center;
  }
  .content-one p{
      margin-bottom:30px;
  }
  content-img{
      width:32px;
      margin: 0 auto;
  }